.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab input {
  height: 2.5em;
  width: 50%;
  background-color: white;
  border: 1px solid #eae7e7;
}

.tab > div:first-child {
  margin: 1em 2em 0 2em;
}

.tab table {
  flex-grow: 1;
  margin-top: 2em;
  margin: 2em;
  border-collapse: collapse;
}

.tab table thead,
.tab table tr {
  height: 4em;
}

.tab table th,
.tab table td {
  padding-left: 1em;
}
.tab table thead {
  color: white;
  background-color: #155e63;
  border-radius: 10px;
}

.tab table th {
  text-align: left;
}

.tab tr:nth-child(2n) {
  background-color: #a2c9bb9e;
}

.checkbox {
  position: relative;
  overflow: hidden;
}

.checkbox__input {
  position: absolute;
  visibility: hidden;
  top: -100px;
  left: -100px;
}

.checkbox__inner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #626262;
}

.input-present:checked + .present {
  border-color: #52c6c4;
  background-color: #52c6c4;
  background-image: url("../assets/present.png");
  background-size: cover;
  /* background-size: 14px 10px; */
}

.input-absent:checked + .absent {
  border-color: rgb(218, 48, 48);
  background-color: rgb(218, 48, 48);
  background-image: url("../assets/absent.png");
  background-size: cover;
  /* background-size: 14px 10px; */
}

.input-justification:checked + .justification {
  border-color: #3AA6B9;
  background-color: #3AA6B9;
  background-image: url("../assets/check.png");
  background-size: cover;
  /* background-size: 14px 10px; */
}

.present, .justification {
  background-image: url("../assets/pres.png");
  background-size: cover;
}

.absent {
  background-image: url("../assets/abs.png");
  background-size: cover;
}

.td-just{
  width: 15em;
  text-align: center;
}

.td-point{
  text-align: center;
}

.center{
  text-align: center !important;
}
